/* ul */

.items {
    margin: 10px auto;
    padding: 10px;
    width: 50vw;
    background: rgba(255, 255, 255, 0.158);
    border-radius: 10px;
}

.items:empty {
    background: none;
}

@media screen and (max-width: 800px) {
    .items {
        width: 90vw;
        padding: 2px;
    }
}